<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org">
<hibernate-configuration>
    <session-factory>
        <!-- Configurações de Conexão com o MariaDB do Docker -->
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/ecommerce_inf008</property>
        <property name="hibernate.connection.username">inf008</property>
        <property name="hibernate.connection.password">inf008</property>

        <!-- Dialeto do Banco para o Hibernate entender o MariaDB -->
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>

        <!-- Como o Docker já cria o schema pelo SQL, o Hibernate apenas valida -->
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <!-- Mostra os comandos SQL no console do Java (opcional) -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Registre suas classes de entidade aqui -->
        <mapping class="br.edu.ifba.inf008.models.Cart" />
        <mapping class="br.edu.ifba.inf008.models.CartItems" />
        <mapping class="br.edu.ifba.inf008.models.Customers" />
        <mapping class="br.edu.ifba.inf008.models.Discounts" />
        <mapping class="br.edu.ifba.inf008.models.Order" />
        <mapping class="br.edu.ifba.inf008.models.OrderItems" />
        <mapping class="br.edu.ifba.inf008.models.OrderDiscountId" />
        <mapping class="br.edu.ifba.inf008.models.OrderDiscounts" />
        <mapping class="br.edu.ifba.inf008.models.Payments" />
        <mapping class="br.edu.ifba.inf008.models.Product" />
        <mapping class="br.edu.ifba.inf008.models.ShippingMethods" />
        <mapping class="br.edu.ifba.inf008.models.StockMoviments" />
    </session-factory>
</hibernate-configuration>
